:root {
  --head-foot-color: rgb(68, 50, 86);
  --background-color: #524960;
}

/* id-class-type */

/* 0-0-0 */
* {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: bold;
}

a {
  color: black;
  font-family: "Sofia Sans Condensed", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:focus {
}

a:active {
  font-size: 30px;
}

/* 0-0-1 */
h1,
h2 {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 40px;
  margin: 20px;
}

p {
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
footer {
  position: fixed;
  background-color: var(--head-foot-color);
  width: 100vw;
  font-size: 60px;
}

header {
  top: 0px;
  height: 100px;
}

nav {
  display: flex;
  position: relative;
  left: 400px;
  top: 0;
}

ul {
  margin: 20px;
}

li {
  display: inline;
  margin: 20px;
}

body {
  background-color: var(--background-color);
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 80px;
}

#copyright {
  font-size: 10px;
  position: absolute;
  bottom: 35px;
  right: 35px;
}

#logo {
  height: 100px;
}

#account {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 200px;
  background-color: beige;
}

#login {
  position: absolute;
  top: 40px;
  right: 80px;
}

@media (max-width: 800px) {
  .disappearing {
    display: none;
  }
}

@media (min-width: 800px) {
  .mobileFeature {
    display: none;
  }
}
