:root {
  --button-color: #2f2d2d;
  --button-text: #f7f4f4;
  --mdc-theme-primary: #523a63;
}

ol > li:hover::after {
  visibility: hidden;
  content: attr(data-blackjack-value);
}

#playersCards ol > li::after {
  visibility: hidden;
  content: attr(data-blackjack-value);
}

#playersCards ol > li:hover::after {
  visibility: visible;
}

#playersCards > p,
dd,
dl,
dt,
blockquote,
ol,
h3 {
  margin-bottom: 10px;
}

#playersCards {
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--button-color);
  color: var(--button-text);
  font-size: 25px;
}

li:hover::after {
  content: attr(data-user-hints);
  color: #ffffff;
}

/* button:hover::after {
  text-align: center;
  background-color: transparent;
  border: 10px;
  width: 280px;
  color: var(--button-text);
  font-size: 20px;
  content: attr(data-user-hints);
  color: #ffffff;
} */

header,
footer {
  background-color: var(--mdc-theme-primary);
}
